<div class="auth-wrapper">
  <div class="auth-container">
    <h2 class="text-center">Login</h2>
    <form class="auth-form" [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off">
      <div class="form-group">
        <label for="admin_username">Username</label>
        <input type="text" id="admin_username" formControlName="admin_username" class="form-control input-sm" placeholder="Enter your username" autocomplete="off" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control input-sm" placeholder="Enter your password" autocomplete="off" required />
      </div>
      <button type="submit" class="btn btn-success">Login</button>
      <div id="responseMessage"></div>
    </form>
    
    
    <div id="responseMessage"></div>
  </div>
</div>
