<nav class="navbar">
  <div class="navbar-container">
    <a href="/home" class="navbar-logo">Task Manager</a>
    <ul class="navbar-links">
      <li><a href="/home" class="navbar-link">Home</a></li>
      <li><a href="/tasking" class="navbar-link">Tasking</a></li>
      <li><button class="navbar-button" (click)="openSignoutModal()">Sign Out</button></li>
    </ul>
    <div class="navbar-toggle" id="navbar-toggle">
      <span class="navbar-bar"></span>
      <span class="navbar-bar"></span>
      <span class="navbar-bar"></span>
    </div>
  </div>
</nav>
