<div class="main-layout">
  <nav 
    class="sidenav" 
    [class.minimized]="isMinimized" 
    aria-label="Main Navigation">
    
    <h1>Tasking</h1>

    <ul class="sidenav-links">
      <li>
        <a routerLink="/home" routerLinkActive="active-link" class="sidenav-link" aria-label="Navigate to Home">
          <i class="fas fa-home"></i>
          <span class="link-text">Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/tasking" routerLinkActive="active-link" class="sidenav-link" aria-label="Navigate to Tasking">
          <i class="fas fa-tasks"></i>
          <span class="link-text">Task List</span>
        </a>
      </li>
      <li>
        <a routerLink="/employees" routerLinkActive="active-link" class="sidenav-link" aria-label="Navigate to Employees">
          <i class="fas fa-users"></i>
          <span class="link-text">Employees</span>
        </a>
      </li>
      <li>
      <a routerLink="/applicants" routerLinkActive="active-link" class="sidenav-link" aria-label="Navigate to Applicants">
        <i class="fas fa-users"></i>
        <span class="link-text">Applicants</span>
      </a>
    </li>
    <li>
      <a routerLink="/tasklist" routerLinkActive="active-link" class="sidenav-link" aria-label="Navigate to Tasklist">
        <i class="fas fa-users"></i>
        <span class="link-text">Tasklist</span>
      </a>
    </li>
    <li>
      <a routerLink="/message" routerLinkActive="active-link" class="sidenav-link" aria-label="Navigate to Message">
        <i class="fas fa-users"></i>
        <span class="link-text">Message</span>
      </a>
    </li>
    </ul>

    <div class="sidenav-footer">
      <div class="button-container">
        <button 
          class="sidenav-button" 
          (click)="openSignoutModal()" 
          aria-label="Sign Out">
          <i class="fas fa-sign-out-alt"></i>
          <span class="link-text">Sign Out</span>
        </button>
      </div>
    </div>
  </nav>


    <router-outlet></router-outlet>


  <!-- Signout Modal -->
  <div *ngIf="showSignoutModal" class="modal-backdrop">
    <div class="modal">
      <h3>Are you sure you want to sign out?</h3>
      <div class="modal-actions">
        <button (click)="confirmSignout()" class="modal-button confirm">Yes</button>
        <button (click)="closeSignoutModal()" class="modal-button cancel">No</button>
      </div>
    </div>
  </div>
</div>