<div class="main-container">
  <app-sidenav (hoverStateChanged)="onSidenavHoverChanged($event)"></app-sidenav>

  <div class="task-dashboard" [class.sidenav-hovered]="isSidenavHovered">
    <header>
      <h1>Task Dashboard</h1>
      <div class="filters">
        <label for="employeeFilter">Employee:</label>
        <select id="employeeFilter">
          <option value="all">All</option>
          <!-- Dynamically populated with employee names -->
        </select>

        <label for="statusFilter">Status:</label>
        <select id="statusFilter">
          <option value="all">All</option>
          <option value="pending">Pending</option>
          <option value="in-progress">In Progress</option>
          <option value="completed">Completed</option>
        </select>
      </div>
    </header>

    <button type="button" class="btn-assign-task" routerLink="/assigntask">Assign New Task</button>

    <table class="task-list">
      <thead>
        <tr>
          <th>Task Name</th>
          <th>Description</th>
          <th>Instructions</th>
          <th>Due Date</th>
          <th>Status</th>
          <th>Assigned By</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of userTasks">
          <td>{{ task.task_name }}</td>
          <td>{{ task.task_description }}</td>
          <td>{{ task.task_instructions }}</td>
          <td>{{ formatDate(task.due_date) }}</td>
          <td>{{ task.status }}</td>
          <td>{{ task.created_by }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <h2>Task Description</h2>
      <p>{{ taskDescription }}</p>
      <div class="modal-buttons">
        <button class="btn-primary" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
